/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 33% 94%;
    --foreground: 225 47.4% 9%;

    --muted: 196 40% 70%;
    --muted-foreground: 196 40% 50%;

    --popover: 197 35% 81%;
    --popover-foreground: 225 47.4% 11.2%;

    --border: 197 52% 39%;
    --input: 0 0% 2%;

    --card: 0 0% 90%;
    --card-foreground: 225 58% 15%;

    --primary: 225 58% 11%;
    --primary-foreground: 0 0% 65%;

    --secondary: 197 40% 41%;
    --secondary-foreground: 197 100% 10%;

    --accent: 197 83% 45%;
    --accent-foreground: 197 10% 52%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 40% 98%;

    --warning: 38 72% 50%;
    --warning-foreground: 38 96% 70%;

    --ring: 197 20% 65%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 225 71% 4%;
    --foreground: 227 35% 91%;

    --muted: 225 47% 11%;
    --muted-foreground: 205 100% 75%;

    --accent: 197 100% 50%;
    --accent-foreground: 197 100% 90%;

    --popover: 227 71% 4%;
    --popover-foreground: 227 70% 75%;

    --border: 197 98% 27%;
    --input: 225 34% 17%;

    --card: 225 88% 16%;
    --card-foreground: 197 31% 91%;

    --primary: 227 40% 98%;
    --primary-foreground: 225 100% 9%;

    --secondary: 225 47% 11%;
    --secondary-foreground: 225 100% 80%;

    --destructive: 0 63% 30%;
    --destructive-foreground: 0 100% 90%;

    --warning: 38 100% 80%;
    --warning-foreground: 38 90% 50%;

    --ring: 225 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply bg-primary;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

.error-message {
  @apply text-right text-xs text-red-600;
}

input[type='datetime-local']::-webkit-datetime-edit-text {
  color: cadetblue;
}

a:focus-visible, button:focus-visible {
  @apply outline-dashed outline-muted-foreground outline-offset-2 rounded-3xl outline-1
}


@layer utilities {
  .center {
    @apply flex items-center justify-center
  }
}

/**
 * END --- SETUP TAILWINDCSS EDIT
 */
