/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 175 33% 94%;
    --foreground: 175 47.4% 9%;

    --muted: 175 33% 94%;
    --muted-foreground: 175 16.3% 46.9%;

    --popover: 144 35% 81%;
    --popover-foreground: 175 47.4% 11.2%;

    --border: 172 52% 39%;
    --input: 0 0% 5%;

    --card: 0 0% 90%;
    --card-foreground: 175 58% 15%;

    --primary: 175 58% 11%;
    --primary-foreground: 0 0% 65%;

    --secondary: 189 40% 41%;
    --secondary-foreground: 189 100% 10%;

    --accent: 173 88% 38%;
    --accent-foreground: 173 10% 52%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 40% 98%;

    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;

    --ring: 173 20% 65%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 175 71% 4%;
    --foreground: 173 35% 91%;

    --muted: 175 47% 11%;
    --muted-foreground: 173 17% 57%;

    --accent: 173 100% 17%;
    --accent-foreground: 130 100% 90%;

    --popover: 175 71% 4%;
    --popover-foreground: 173 20% 75%;

    --border: 173 98% 27%;
    --input: 175 34% 17%;

    --card: 173 88% 16%;
    --card-foreground: 120 31% 91%;

    --primary: 180 40% 98%;
    --primary-foreground: 175 47% 9%;

    --secondary: 173 47% 11%;
    --secondary-foreground: 130 40% 90%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 175 40% 98%;

    --warning: 48 96% 89%;
    --warning-foreground: 38 92% 50%;

    --ring: 173 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply bg-primary;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

.error-message {
  @apply text-right text-xs text-red-600;
}

input[type='datetime-local']::-webkit-datetime-edit-text { color: darkcyan; padding: 0 0.3em; }


/**
 * END --- SETUP TAILWINDCSS EDIT
 */
